<!-- <app-navigation /> -->
<!-- Główny kontener desktop -->
<div
  class="desktop"
  [attr.data-theme]="(isDarkMode$ | async) ? 'dark' : 'light'"
  (contextmenu)="displayContextMenu($event)"
>
  <right-click-context-menu #contextMenu></right-click-context-menu>
  <!-- Taskbar -->
  <div class="taskbar">
    <nav class="navbar">
      <header class="topnav w-100">
        <nav
          class="navbar navbar-expand-lg container-fluid"
          [ngClass]="
            (isDarkMode$ | async)
              ? 'navbar-dark bg-dark'
              : 'navbar-light bg-light'
          "
        >
          <!-- Menu -->
          <div class="navbar-left">
            <ul class="navbar-nav" [class.dark-mode]="isDarkMode$ | async">
              <li class="nav-item dropdown" *ngFor="let item of menuItems">
                <a
                  class="nav-link dropdown-toggle drop-arrow-none"
                  href="#"
                  attr.id="{{ item.id }}"
                  data-bs-toggle="dropdown"
                >
                  <span class="menu-icon"><i class="{{ item.icon }}"></i></span>
                  <span class="menu-text">{{ item.label }}</span>
                  <div class="menu-arrow"></div>
                </a>
                <div class="dropdown-menu" attr.aria-labelledby="{{ item.id }}">
                  <ng-container *ngFor="let child of item.children">
                    <!-- Jeśli element ma podmenu -->
                    <div class="dropend" *ngIf="child.children">
                      <a
                        class="dropdown-item dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="{{ child.icon }}"></i> {{ child.label }}
                      </a>
                      <div class="dropdown-menu">
                        <a
                          class="dropdown-item"
                          *ngFor="let subChild of child.children"
                          (click)="subChild.action(); $event.preventDefault()"
                        >
                          <i class="{{ subChild.icon }}"></i>
                          {{ subChild.label }}
                        </a>
                      </div>
                    </div>
                    <!-- Jeśli element nie ma podmenu -->
                    <a
                      *ngIf="!child.children"
                      class="dropdown-item"
                      (click)="child.action(); $event.preventDefault()"
                    >
                      <i class="{{ child.icon }}"></i> {{ child.label }}
                    </a>
                  </ng-container>
                </div>
              </li>
            </ul>
          </div>
          <!-- //Menu -->

          <!-- Prawy pasek -->
          <div class="navbar-right">
            <app-open-windows-list
              [windows]="(windows$ | async) || []"
            ></app-open-windows-list>
            <app-notification-icon></app-notification-icon>
            <button class="theme-toggle" (click)="toggleTheme()">
              <i
                [class]="(isDarkMode$ | async) ? 'bi bi-sun' : 'bi bi-moon'"
              ></i>
            </button>
            <app-user-nav-icon></app-user-nav-icon>
          </div>
        </nav>
      </header>
    </nav>
  </div>
  <!-- Okna aplikacji -->
  <div class="windows-container">
    <app-window
      *ngFor="let window of (windows$ | async) || []; trackBy: trackById"
      [window]="window"
      [isDarkMode]="(isDarkMode$ | async) || false"
    >
    </app-window>
  </div>

  <!-- Agent -->
  <div class="agent-container">
    <app-agent></app-agent>
  </div>
</div>
