<!-- moje -->
<!-- <button (click)="openNotepad()">Notatnik</button>
<button (click)="openCalculator()">Kalkulator</button> -->
<!-- //moje -->
<!-- <app-navigation /> -->
<div class="desktop">
  <div class="taskbar">
    <header class="topnav">
      <nav class="navbar navbar-expand-lg container-fluid">
        <div class="collapse navbar-collapse" id="topnav-menu-content">
          <ul class="navbar-nav">
            <!-- Dashboard -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-dashboards"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"
                  ><i class="ti ti-layout-dashboard"></i
                ></span>
                <span class="menu-text">Pulpit</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-home"></i> Panel główny</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-pencil"></i> Notatnik</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-chart-pie"></i> Raporty</a
                >
              </div>
            </li>

            <!-- Zarządzanie -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-management"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-settings"></i></span>
                <span class="menu-text">Zarządzanie</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-management">
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-users"></i> Użytkownicy</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-lock"></i> Uprawnienia</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-settings"></i> Ustawienia</a
                >
              </div>
            </li>

            <!-- Dokumenty -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-documents"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-files"></i></span>
                <span class="menu-text">Dokumenty</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-documents">
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-file-invoice"></i> Faktury</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-shopping-cart"></i> Zamówienia</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-file-contract"></i> Umowy</a
                >
              </div>
            </li>

            <!-- Raporty -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-reports"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-chart-bar"></i></span>
                <span class="menu-text">Raporty</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-reports">
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-report-money"></i> Raporty sprzedaży</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()">
                  <i class="ti ti-report"></i> Raporty finansowe</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()">
                  <i class="ti ti-chart-dots"></i> Analityka</a
                >
              </div>
            </li>
          </ul>
        </div>

        <!-- user icon -->
        <!-- Right Topbar -->
        <div class="topbar-right">
          <div class="d-flex gap-3">
            <!-- Language Switcher -->
            <div class="topbar-item">
              <div class="dropdown">
                <button
                  class="topbar-btn language-btn"
                  data-bs-toggle="dropdown"
                  type="button"
                  aria-label="Wybór języka"
                >
                  <img
                    src="images/flags/pl.svg"
                    alt=""
                    class="flag-icon"
                    id="selected-language-image"
                  />
                  <span class="language-code">PL</span>
                  <div class="menu-arrow"></div>
                </button>
                <div class="dropdown-menu language-menu">
                  <a href="#" class="dropdown-item" data-lang="pl">
                    <img src="images/flags/pl.svg" alt="" class="flag-icon" />
                    <span>Polski</span>
                  </a>
                  <a href="#" class="dropdown-item" data-lang="en">
                    <img src="images/flags/us.svg" alt="" class="flag-icon" />
                    <span>English</span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Notifications -->
            <app-notification-icon />

            <!-- Theme Toggle -->
            <div class="topbar-item d-none d-sm-block">
              <button
                class="topbar-btn"
                id="theme-toggle"
                type="button"
                title="Zmień motyw"
              >
                <i class="ti ti-moon theme-icon-dark"></i>
                <i class="ti ti-sun theme-icon-light"></i>
              </button>
            </div>

            <!-- User Profile -->
            <app-user-nav-icon />
          </div>
        </div>
        <!-- user icon -->
      </nav>
    </header>
  </div>

  <app-window
    *ngFor="let window of windows$ | async"
    [window]="window"
  ></app-window>

  <app-footer />
</div>
