<div
  class="topbar-item nav-user"
  [attr.data-theme]="(isDarkMode$ | async) ? 'dark' : 'light'"
>
  <div class="dropdown">
    <a
      class="topbar-link dropdown-toggle drop-arrow-none px-2"
      [ngClass]="{
        'text-light': (isDarkMode$ | async),
        'text-dark': !(isDarkMode$ | async)
      }"
      data-bs-toggle="dropdown"
      data-bs-offset="0,16"
      href="#!"
      aria-haspopup="false"
      aria-expanded="false"
    >
      <img
        src="images/users/user-2.jpg"
        width="32"
        class="rounded-circle me-lg-2 d-flex"
        alt="user-image"
      />
      <div class="d-lg-flex align-items-center gap-1 d-none">
        <i class="ti ti-chevron-down align-middle"></i>
      </div>
    </a>

    <div
      class="dropdown-menu dropdown-menu-end"
      [attr.data-theme]="(isDarkMode$ | async) ? 'dark' : 'light'"
    >
      <!-- Header -->
      <!-- <div class="dropdown-header noti-title">
        <h6
          class="text-overflow m-0"
          [ngClass]="{
            'text-light': (isDarkMode$ | async),
            'text-dark': !(isDarkMode$ | async)
          }"
        >
          Welcome back!
        </h6>
      </div> -->

      <!-- Menu Items -->
      <a
        *ngFor="let item of menuItems"
        [href]="item.link"
        class="dropdown-item"
        [ngClass]="{
          'text-light': (isDarkMode$ | async),
          'text-dark': !(isDarkMode$ | async)
        }"
      >
        <i [class]="item.icon + ' me-2 fs-17 align-middle'"></i>
        <span class="align-middle">{{ item.label }}</span>
      </a>

      <!-- Divider -->
      <div class="dropdown-divider"></div>

      <!-- Logout -->
      <a
        class="dropdown-item"
        [ngClass]="{
          'text-danger': !(isDarkMode$ | async),
          'text-light': (isDarkMode$ | async)
        }"
      >
        <i class="bi bi-box-arrow-right me-2 fs-17 align-middle"></i>
        <span class="align-middle">Wyloguj</span>
      </a>
    </div>
  </div>
</div>
