<div
  class="window"
  [id]="'window-' + window.id"
  [class]="getWindowClasses()"
  [style]="getWindowStyles()"
  (pointerdown)="onWindowClick($event)"
  [attr.data-theme]="window.themeMode ? 'dark' : 'light'"
  [draggable]="window.isDraggable"
  (dragstart)="onDragStart($event)"
  (dragover)="onDragOver($event)"
  (drop)="onDrop($event)"
>
  <!-- Uchwyty do skalowania -->
  <div class="resize-handle n" (pointerdown)="startResizing($event, 'n')"></div>
  <div class="resize-handle e" (pointerdown)="startResizing($event, 'e')"></div>
  <div class="resize-handle s" (pointerdown)="startResizing($event, 's')"></div>
  <div class="resize-handle w" (pointerdown)="startResizing($event, 'w')"></div>
  <div
    class="resize-handle ne"
    (pointerdown)="startResizing($event, 'ne')"
  ></div>
  <div
    class="resize-handle se"
    (pointerdown)="startResizing($event, 'se')"
  ></div>
  <div
    class="resize-handle sw"
    (pointerdown)="startResizing($event, 'sw')"
  ></div>
  <div
    class="resize-handle nw"
    (pointerdown)="startResizing($event, 'nw')"
  ></div>

  <!-- Pasek tytułu -->
  <div class="window-header" (pointerdown)="startDragging($event)">
    <span class="window-title">{{ window.title }}</span>
    <div class="window-controls">
      <button class="minimize-btn" (click)="Minimizewindow()">
        <i class="bi bi-dash-lg"></i>
      </button>
      <button class="maximize-btn" (click)="Maximizewindow()">
        <i
          class="bi"
          [class.bi-window]="window.isMaximized"
          [class.bi-square]="!window.isMaximized"
        ></i>
      </button>
      <button class="close-btn" (click)="Closewindow()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>

  <!-- Kontener na komponent potomny -->
  <div class="window-content">
    <ng-container #componentcontainer></ng-container>
  </div>
</div>
