<!-- moje -->
<!-- <button (click)="openNotepad()">Notatnik</button>
<button (click)="openCalculator()">Kalkulator</button> -->
<!-- //moje -->

<div class="desktop">
  <div class="taskbar">
    <header class="topnav">
      <nav class="navbar navbar-expand-lg container-fluid">
        <div class="collapse navbar-collapse" id="topnav-menu-content">
          <ul class="navbar-nav">
            <!-- Dashboard -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-dashboards"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"
                  ><i class="ti ti-layout-dashboard"></i
                ></span>
                <span class="menu-text">Pulpit</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Panel główny</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Notatnik</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Raporty</a
                >
              </div>
            </li>

            <!-- Zarządzanie -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-management"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-settings"></i></span>
                <span class="menu-text">Zarządzanie</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-management">
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Użytkownicy</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Uprawnienia</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Ustawienia</a
                >
              </div>
            </li>

            <!-- Dokumenty -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-documents"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-files"></i></span>
                <span class="menu-text">Dokumenty</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-documents">
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Faktury</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Zamówienia</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Umowy</a
                >
              </div>
            </li>

            <!-- Raporty -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle drop-arrow-none"
                href="#"
                id="topnav-reports"
                data-bs-toggle="dropdown"
              >
                <span class="menu-icon"><i class="ti ti-chart-bar"></i></span>
                <span class="menu-text">Raporty</span>
                <div class="menu-arrow"></div>
              </a>
              <div class="dropdown-menu" aria-labelledby="topnav-reports">
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Raporty sprzedaży</a
                >
                <a href="#" class="dropdown-item" (click)="openCalculator()"
                  >Raporty finansowe</a
                >
                <a href="#" class="dropdown-item" (click)="openNotepad()"
                  >Analityka</a
                >
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <app-window *ngFor="let window of windows$ | async" [window]="window">
  </app-window>
</div>

<app-footer />
