<div
  class="window"
  [id]="'window-' + window.id"
  [class]="getWindowClasses()"
  [style]="getWindowStyles()"
  (pointerdown)="onWindowClick($event)"
  [attr.data-theme]="window.themeMode ? 'dark' : 'light'"
>
  <div class="resize-handle n" (pointerdown)="startResizing($event, 'n')"></div>
  <div class="resize-handle e" (pointerdown)="startResizing($event, 'e')"></div>
  <div class="resize-handle s" (pointerdown)="startResizing($event, 's')"></div>
  <div class="resize-handle w" (pointerdown)="startResizing($event, 'w')"></div>
  <div
    class="resize-handle ne"
    (pointerdown)="startResizing($event, 'ne')"
  ></div>
  <div
    class="resize-handle se"
    (pointerdown)="startResizing($event, 'se')"
  ></div>
  <div
    class="resize-handle sw"
    (pointerdown)="startResizing($event, 'sw')"
  ></div>
  <div
    class="resize-handle nw"
    (pointerdown)="startResizing($event, 'nw')"
  ></div>
  <div class="resize-handle n" (pointerdown)="startResizing($event, 'n')"></div>
  <div class="resize-handle e" (pointerdown)="startResizing($event, 'e')"></div>
  <div class="resize-handle s" (pointerdown)="startResizing($event, 's')"></div>
  <div class="resize-handle w" (pointerdown)="startResizing($event, 'w')"></div>
  <div
    class="resize-handle ne"
    (pointerdown)="startResizing($event, 'ne')"
  ></div>
  <div
    class="resize-handle se"
    (pointerdown)="startResizing($event, 'se')"
  ></div>
  <div
    class="resize-handle sw"
    (pointerdown)="startResizing($event, 'sw')"
  ></div>
  <div
    class="resize-handle nw"
    (pointerdown)="startResizing($event, 'nw')"
  ></div>

  <div
    class="window-header"
    (pointerdown)="startDragging($event)"
    [class.dragging]="isDragging"
  >
    <span class="window-title">{{ window.title }}</span>
    <div class="window-controls">
      <button
        *ngFor="let control of windowControls"
        [class]="control.class"
        (pointerup)="control.action()"
      >
        <i [class]="control.icon"></i>
      </button>
    </div>
  </div>
  <div
    class="window-content"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <div
      class="draggable-element"
      draggable="true"
      (dragstart)="onDragStart($event)"
    >
      <div>przesuń mnie!</div>
    </div>
  </div>
  <ng-container *ngComponentOutlet="window.component"></ng-container>
</div>
