<!DOCTYPE html>
<div class="navbar-left">
  <ul class="navbar-nav" [class.dark-mode]="isDarkMode$ | async">
    <li class="nav-item dropdown" *ngFor="let item of menuItems">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        [id]="item.id"
        data-bs-toggle="dropdown"
        role="button"
        aria-expanded="false"
      >
        <div class="menu-arrow"></div>
        <span class="menu-icon"><i [class]="item.icon"></i></span>
        <span class="menu-text">{{ item.label }}</span>
      </a>
      <div class="dropdown-menu" [attr.aria-labelledby]="item.id">
        <ng-container *ngFor="let child of item.children">
          <!-- Jeśli element ma podmenu -->
          <div class="dropend" *ngIf="child.children">
            <a
              class="dropdown-item dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i [class]="child.icon"></i>
              <span>{{ child.label }}</span>
            </a>
            <div class="dropdown-menu">
              <a
                class="dropdown-item"
                href="#"
                *ngFor="let subChild of child.children"
                (click)="subChild.action(); $event.preventDefault()"
              >
                <i [class]="subChild.icon"></i>
                <span>{{ subChild.label }}</span>
              </a>
            </div>
          </div>
          <!-- Jeśli element nie ma podmenu -->
          <a
            *ngIf="!child.children"
            class="dropdown-item"
            href="#"
            (click)="child.action(); $event.preventDefault()"
          >
            <i [class]="child.icon"></i>
            <span>{{ child.label }}</span>
          </a>
        </ng-container>
      </div>
    </li>
  </ul>
</div>
